- name: Check if ZooKeeper is already installed
  stat:
    path: /usr/local/zookeeper
  register: zookeeper_installed

- name: Download ZooKeeper tarball
  get_url:
    url: "https://archive.apache.org/dist/zookeeper/zookeeper-3.8.4/apache-zookeeper-3.8.4-bin.tar.gz"
    dest: /tmp/apache-zookeeper-3.8.4-bin.tar.gz
    mode: '0644'
  when: not zookeeper_installed.stat.exists

- name: Extract ZooKeeper tarball
  unarchive:
    src: /tmp/apache-zookeeper-3.8.4-bin.tar.gz
    dest: /usr/local/
    remote_src: yes
  when: not zookeeper_installed.stat.exists

- name: Move ZooKeeper to final location
  command: mv /usr/local/apache-zookeeper-3.8.4-bin /usr/local/zookeeper
  args:
    removes: /usr/local/apache-zookeeper-3.8.4-bin
  when: not zookeeper_installed.stat.exists

- name: Set ZooKeeper environment variables
  copy:
    dest: /etc/profile.d/zookeeper.sh
    content: |
      export ZOOKEEPER_HOME=/usr/local/zookeeper
      export PATH=$PATH:$ZOOKEEPER_HOME/bin
    mode: '0755'


